<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css.demo.css'%}">
    <title>Index Demo</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Wel-come To UMAVI</h1>
        <p><a class="btn btn-primary btn-lg" href="/empinfo" role="button">click here to get employee information</a></p>
    </div>
</div>
</body>
</html>